@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html, body {
  font-family: 'Source Sans Pro',arial,helvetica,sans-serif;
  background-color: #1d1d1d;
  margin: 0;
  height: 100%;
  width: 100%;
  text-transform: lowercase;
  cursor: default
}

* {
  box-sizing: border-box
}

div.root {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: bottom
}

div.childcont {
  display: flex;
  flex-flow: row;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
}

div.child, div.child2 {
  width: auto;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  flex-basis: auto
}

a {
  color: inherit;
  text-decoration: none;
  transition: .15s all ease-in-out;
  word-wrap: break-word;
  cursor: pointer;
  text-shadow: none;
  line-height: 1.25;
  font-weight: bold
}

a:hover, a:hover * {
  color: #fff;
  transition: .15s all ease-in-out;
  text-shadow: 0.08em 0.08em 3px rgba(0, 0, 0, 0.4)
}

div.child, div.child2, div.header *, #d404 {
  transition: .15s all ease-in-out
}

div.child:hover, div.child2:hover {
  transition: .15s all ease-in-out;
  box-shadow: inset 0 0 7px 0px rgba(0, 0, 0, 0.40);
  border-color: rgba(0, 0, 0, 0)
}

div.child:hover h5, div.header:hover h5, div.child2:hover h5 {
  transition: .15s all ease-in-out;
  opacity: 1
}

div.child iframe {
	margin:0.3em 0px 0.3em 0px
}

div#serin113 {
  color: #00d96c;
  border-left: 2px solid rgba(0, 217, 108, 0.05);
  border-bottom: 2px solid rgba(0, 217, 108, 0.05);
  background-color: rgba(0, 217, 108, 0.02)
}

div#serin113:hover, div#serin113:focus {
  background-color: rgba(0, 217, 108, 0.1)
}

div#felren {
  color: #00a4bb;
  border-left: 2px solid rgba(0, 164, 187, 0.05);
  border-bottom: 2px solid rgba(0, 164, 187, 0.05);
  background-color: rgba(0, 164, 187, 0.02)
}

div#felren:hover {
  background-color: rgba(0, 164, 187, 0.1)
}

div#ign {
  color: #e67300;
  border-left: 2px solid rgba(230, 115, 0, 0.05);
  border-bottom: 2px solid rgba(230, 115, 0, 0.05);
  background-color: rgba(230, 115, 0, 0.02)
}

div#ign:hover {
  background-color: rgba(230, 115, 0, 0.1)
}

div#code {
  color: #00b3b2;
  border-left: 2px solid rgba(0, 179, 178, 0.05);
  border-bottom: 2px solid rgba(0, 179, 178, 0.05);
  background-color: rgba(0, 179, 178, 0.02)
}

div#code:hover {
  background-color: rgba(0, 179, 178, 0.1)
}

div#music {
  color: #f50;
  border-left: 2px solid rgba(255, 85, 0, 0.05);
  border-bottom: 2px solid rgba(255, 85, 0, 0.05);
  background-color: rgba(255, 85, 0, 0.02)
}

div#music:hover {
  background-color: rgba(255, 85, 0, 0.1)
}

div#wallpapers {
  color: #ffc926;
  border-left: 2px solid rgba(255, 201, 38, 0.05);
  border-bottom: 2px solid rgba(255, 201, 38, 0.05);
  background-color: rgba(255, 201, 38, 0.02)
}

div#wallpapers:hover {
  background-color: rgba(255, 201, 38, 0.1)
}

div#wallpapers iframe {
	border:1px solid #ffc926
}

#archive1 {
  color: #6077AA;
  background-color: rgba(96, 119, 170, 0.02);
  display: block;
  font-size: 12px;
  opacity: 1;
  border-left: 2px solid rgba(96, 119, 170, 0.06);
  border-bottom: 2px solid rgba(96, 119, 170, 0.06)
}

#archive1:hover {
  background-color: rgba(96, 119, 170, 0.1)
}

#archive2 {
  color: #77AA60;
  background-color: rgba(119, 170, 96, 0.02);
  display: block;
  font-size: 12px;
  opacity: 1;
  border-left: 2px solid rgba(119, 170, 96, 0.06);
  border-bottom: 2px solid rgba(119, 170, 96, 0.06)
}

#archive2:hover {
  background-color: rgba(119, 170, 96, 0.1)
}

#bandcampjam {
  color: #619aa9;
  border-left: 2px solid rgba(97, 154, 169, 0.05);
  border-bottom: 2px solid rgba(97, 154, 169, 0.05);
  background-color: rgba(97, 154, 169, 0.02)
}

#bandcampjam:hover {
  background-color: rgba(97, 154, 169, 0.1)
}

#spotifyjam {
  color: #2ebd59;
  border-left: 2px solid rgba(46, 189, 89, 0.05);
  border-bottom: 2px solid rgba(46, 189, 89, 0.05);
  background-color: rgba(46, 189, 89, 0.02)
}

#spotifyjam:hover {
  background-color: rgba(46, 189, 89, 0.1)
}

#bandcampjam div, #spotifyjam div {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

#bandcampjam a, #spotifyjam a, #wips a {
	font-size: inherit;
}

#bandcampjam i, #spotifyjam i, #wips i {
	display: block;
	font-size: 0.7em
}

.thingy{
	display: inline;
}

#wips {
  color: #d900d9;
  border-left: 2px solid rgba(217, 0, 217, 0.05);
  border-bottom: 2px solid rgba(217, 0, 217, 0.05);
  background-color: rgba(217, 0, 217, 0.02)
}

#wips:hover {
  background-color: rgba(217, 0, 217, 0.1)
}

#wips iframe {
	border:1px solid #d900d9
}

#wips iframe, #wallpapers iframe {
	width:100%;
	height:300px
}

div.header {
  display: flexbox;
  padding: 20px;
  color: #fff;
  margin: 0;
  opacity: 1;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
  width: 100%
}

div.header h2 {
  margin: 0 0 0 0.5em;
  font-size: 24px;
  display: inline;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.85)
}

div.header h3 {
  margin: 0 0 0 7px;
  font-size: 12px;
  display: inline;
  color: rgba(255, 255, 255, 0.85)
}

#nowplaying {
  color: #aa43ef;
  display: block;
  font-size: 12px;
  opacity: 1;
  border-left: 2px solid rgba(170, 67, 239, 0.05);
  border-bottom: 2px solid rgba(170, 67, 239, 0.05);
  background-color: rgba(170, 67, 239, 0.02)
}

#nowplaying:hover {
  background-color: rgba(170, 67, 239, 0.1)
}

.footer {
  color: #888;
  display: block;
  font-size: 12px;
  opacity: 1;
  padding: 20px;
  border: 0;
  width: 100%
}

.footer .toggle {
  opacity: .2;
  font-weight: normal
}

#projectspanel {
  color: #adad00;
  background-color: rgba(173, 173, 0, 0.02);
  display: block;
  font-size: 12px;
  opacity: 1;
  border-left: 2px solid rgba(173, 173, 0, 0.06);
  border-bottom: 2px solid rgba(173, 173, 0, 0.06)
}

#projectspanel:hover {
  background-color: rgba(173, 173, 0, 0.1)
}

div.child h5, div.child2 h5, .footer h5 {
  font-size: 10px;
  margin: 0 0 10px;
  font-style: italic;
  opacity: .6
}

div.child h6 {
  font-size: 10px;
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 400;
  vertical-align: middle;
  opacity: .4
}

div.child a, div.child p {
  font-size: 20px
}

#nowplaying * {
  color: inherit;
  transition: .15s all ease-in-out;
}

#nowplaying span.song {
  word-wrap: break-word;
  display: inline-flex;
  align-items: center
}

#nowplaying a:hover *, #nowplaying a:hover {
  color: #fff
}

#nowplaying span.loading {
  opacity: .4
}

#nowplaying a span.artist {
  opacity: .45;
  font-size: .9em;
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 0.3em
}

#nowplaying a span.artist small {
  opacity: .85;
  font-size: .75em;
  margin: 0 0.1em;
  font-weight: normal
}

#nowplaying a:hover span.artist, a:hover h6 {
  opacity: 1
}

.fa {
  vertical-align: middle
}

div.child .fa, div.child2 .fa, .toggle .fa {
  margin-right: 10px
}

.toggle .fa {
  font-size: 1.1em
}

.fa-toggle-on {
  color: #265cff;
  transition: .15s all ease-in-out
}

a:hover .fa-toggle-on {
  color: #99b3ff
}

div.child .fa {
  font-size: .6em
}

div.child2 .fa {
  font-size: .8em
}

div.image-profile {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 0 0 0 0;
  border-radius: 50%;
  background: #eee no-repeat center;
  background-size: cover;
  background-image: url(https://secure.gravatar.com/avatar/c7300b74c6c2a47f3180a83b1e317ef2?s=139)
}

div.image-profile:hover {
  border: 2px solid #fff
}

@media screen and (max-width: 120px), screen and (max-height: 400px) and (max-width: 350px)
{
  div.child a, div.child p, #nowplaying, div.footer, #projectspanel {
    font-size: 12px
  }
  div.child, div.header, div.child2, div.footer {
    padding: 10px
  }
  #nowplaying a span.artist {
    display: none
  }
  div.child h5, div.child2 h5, .footer h5 {
    font-size: 9px;
    margin: 0 0 6px;
    font-style: italic
  }
  div.child h6 {
    display: none
  }
  div.header h2 {
    font-size: 12px;
    margin: 0
  }
  div.header h3 {
    margin: 0;
    font-size: 9px;
    display: block
  }
  div.image-profile {
    width: 0;
    height: 0
  }
  .fa {
    display: none
  }
  #musicrefresh .fa {
    display: inline
  }
}

@media screen and (min-width: 121px) and (max-width: 200px) and (min-height: 401px), screen and (max-height: 400px) and (min-width: 351px)
{
  div.child a, div.child p, #nowplaying, div.footer, #projectspanel {
    font-size: 12px
  }
  div.child, div.header, div.child2, div.footer {
    padding: 10px
  }
  #nowplaying a span.artist {
    display: none
  }
  div.child h5, div.child2 h5, .footer h5 {
    font-size: 9px;
    margin: 0 0 6px;
    font-style: italic
  }
  div.child h6 {
    display: none
  }
  div.header h2 {
    font-size: 12px
  }
  div.header h3 {
    margin: 0 0 0 30px;
    font-size: 9px;
    display: block
  }
  div.image-profile {
    width: 20px;
    height: 20px
  }
}

@media screen and (min-width: 201px) and (max-width: 400px) and (min-height: 401px)
{
  div.child a, div.child p {
    font-size: 17px
  }
  #nowplaying, div.footer, #projectspanel {
    font-size: 12px
  }
  div.child, div.header, div.child2, div.footer {
    padding: 15px
  }
  #nowplaying a span.artist {
    display: none
  }
  div.child h5, div.child2 h5, .footer h5 {
    font-size: 11px;
    margin: 0 0 6px;
    font-style: italic
  }
  div.child h6 {
    display: none
  }
  div.header h2 {
    font-size: 18px
  }
  div.header h3 {
    margin: 0 0 0 5px;
    font-size: 11px;
    display: inline
  }
  div.image-profile {
    width: 25px;
    height: 25px
  }
}

@media screen and (min-width: 601px) and (min-height: 600px), screen and (min-width: 401px) and (max-width: 600px) and (min-height: 600px)
{
  div.child a, div.child p {
    font-size: 27px
  }
  #nowplaying, div.footer, #projectspanel {
    font-size: 15px
  }
  div.child, div.header, div.child2, div.footer {
    padding: 27px
  }
  div.child h5, div.child2 h5, .footer h5 {
    font-size: 13px;
    font-style: italic
  }
  div.child h6 {
    font-size: 15px
  }
  div.header h2 {
    font-size: 32px
  }
  div.header h3 {
    margin: 0 0 0 10px;
    font-size: 15px;
    display: inline
  }
  div.image-profile {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 1001px)
{
	div.root {
		width: 75vw;
		margin: auto;
	}
	div.childcont {
		border-right: 2px solid #252525;
	}
	div.header {
		border-right: 2px solid rgba(255, 255, 255, 0.05);
		border-left: 2px solid rgba(255, 255, 255, 0.05);
	}
}
