html,
body {
    font-family: 'Source Sans Pro',arial,helvetica,sans-serif;
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
}
#d404-root {
	margin: 0;
	width: 100%;
	height: 100%;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: none;
}
#d404 {
	width: auto;
	max-width: 80vw;
	padding: 12px;
	margin: 20px 10px 20px 10px;
	background-color: black;
	box-shadow: 0px 0px 6px -2px #777777;
  box-sizing: border-box;
	border-radius: 12px;
	color: #777777;
  transition: .10s all ease-in;
}
#d404:hover {
  box-shadow: 0px 0px 9px -2px #777777;
	color: #999999;
}
#d404 h2 {
	margin: 0px 5px 10px 0px;
	vertical-align: middle;
	font-size: 25px;
	font-style: italic;
}
#d404 p {
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	word-wrap: break-word;
}
#d404 a {
	color: #000099;
	text-decoration: none;
  transition: .10s all ease-in;
}
#d404 a:hover {
	color: blue;
	text-decoration: none;
}