@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    transition: .15s all ease-in-out;
}
body {
    background: #EEEEEE;
    color: #777777;
}
header {
    font-size: 1em;
    padding: 1rem;
}
footer {
    padding: 1rem 1rem 1rem 1.35rem;
    font-size: 0.5em;
}
#links .fa-fw {
    vertical-align: middle;
    line-height: inherit;
    padding-right: 0.3rem;
    text-shadow: 0 0.05rem 0.05rem;
    color: inherit;
}
#links {
    margin: 0 0 0 1.35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#links div {
    vertical-align: middle;
    display: inline-block;
}
#links div a {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0.25rem;
}
#links div a:last-child {
    margin-bottom: 0;
}
#links a {
    font-size: 0.7em;
    text-decoration: none;
    color: inherit;
}
#links a:hover {
    color: #000000;
    text-decoration: underline;
}
#links a:hover.nolink {
    color: inherit;
    text-decoration: none;
}
#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 0 1 10rem;
}
#links ul li {
    margin: 0 0 0.5rem 0;
}
/*#links ul li div {
    border-left: 0.05rem solid #CCCCCC;
    padding-left: 0.5rem;
}*/

#twitter1, #twitter2, #twitter3, #gravatar {
    display: inline-block;
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    margin: 0 0.3rem 0 0;
    border-radius: 50%;
    box-shadow: 0 0.05rem 0.2rem #777777;
    background: #eee no-repeat center;
    background-size: cover;
}

#gravatar {
    width: 2rem;
    height: 2rem;
    background-image: url(https://secure.gravatar.com/avatar/c7300b74c6c2a47f3180a83b1e317ef2?s=139)
}

#twitter1 {
    background-image: url(https://avatars.io/twitter/kerrogram)
}

#twitter2 {
    background-image: url(https://avatars.io/twitter/trecvulpen)
}

#twitter3 {
    background-image: url(https://avatars.io/twitter/felreneleven)
}

@media all and (max-width:320px) and (min-width:205px) {
    * {
        font-size: 20px;
    }
}
@media all and (max-width:204px) {
    * {
        font-size: 20px;
    }
    #links {
        margin: 1rem;
    }
    #links div {
        border-left: 0.01rem solid #777777;
    }
    footer {
        padding: 1rem;
    }
    .fa-fw {
        font-size: 0.6em;
        padding: 0;
    }
    #twitter1, #twitter2, #twitter3, header {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}